.cabeçalho_menu-humburguer {
    width: 40px;
    height: 40px;
    background-image: url("../img/Menu.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between; /*colocou cada "container" no canto do cabeçalho"*/ 
    align-items: center; /*deixa os itens no centro da linha*/
    position: relative;
}

.container { /* os container estão alinhados no centro */
    display: flex;
    align-items: center;
}

.container_imagem {
    padding: 1em;
}

.lista_menu {
    display: none;
    position: absolute;
    top: 100%; /*tirou 100% do cabeçalho e ficou pra baixo */
    width: 60vw;
}

.container_botao:checked~.lista_menu { /*quando clicar aparece a lista*/
    display: block;
}

.lista_menu_titulo, .lista_menu_item {
    padding: 1em;
    background-color: var(--branco);
}

.lista_menu_titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista_menu_link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container_botao { /*tirar o checklist */
    display: none;
}

.container_titulo {
    display: none;
}

.opções {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container_titulo,
    .cointainer_titulo--negrito {
        font-family: var(--fonte-secundario);
        font-size: 30px;
    }

    .container_titulo {
        font-weight: 400;
        display: block;
    }

    .cointainer_titulo--negrito {
        font-weight: 700;
    }

    .opções {
        display: flex;
    }

    .opções_item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opções_link {
        text-decoration: none;
        color: var(--preto);
    }

    .container_imagem-transparente {
        display: none;
    }

    .cabeçalho_menu-humburguer {
        display: none;
    }
}